html {
    color:#e7e6e3;
    background-color:#181a1b
  }
  a {
    color:#ff66ba
  }
  .like-a {
    color:#ff66ba;
    text-decoration:underline
  }
  a[href^=""]:link,
  a[href^="./"]:link,
  a[href^="../"]:link,
  a:active {
    color:#7534d5;
  }
  a.active,
  footer {
    padding-top:5px
  }
  h1 {
    text-align: center;
  }
  .page_header {
    border-bottom:1px dotted #ff66ba;
    padding-bottom:4px
  }
  .container {
    border:2px solid #ff66ba;
    padding:4px;
  }
  input {
    max-width: 50px;
    margin: 8px;
  }
  label + * {
    margin-left: 8px;
  }
  .full {
    max-width: unset;
    min-width: 100%;
  }
  .horizontal {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 1;
    height: 100%;
    margin: 8px;
  }
  .vertical {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    height: fit-content;
    margin: 8px;
  }
  .limited {
    max-width: 40%;
  }
  h2 {
    max-width: fit-content;
  }